{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<header class="app-header">
    <div class="header-left">
        <!-- Zurück-Button -->
        <a href="javascript:history.back()" class="back-btn">Zurück</a>
        <a href="{% url 'lager_list' %}">
            <img src="{% static 'img/lagerico.png' %}" alt="Lager Icon">
        </a>
        {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
        <a href="https://www.notion.so/24c7bc50ffa380f6b49ef28deb653bca?v=24c7bc50ffa38145b34e000cb8bb031b" target="_blank">
            <img class="logo-invert" src="{% static 'img/Notion-logo.svg.png' %}" alt="Notion logo">
        </a>
        <a href="https://db.scout.ch" target="_blank">
            <img class="logo-invert" src="{% static 'img/midate.png' %}" alt="Midata logo">
        </a>
        <a href="">
            <img src="{% static 'img/children_icon.jpg' %}" alt="Children Icon">
        </a>
    </div>

    <div class="header-center">
        <h1 class="logo">{{ header_name|default:"Pfadi Lager" }}</h1>
    </div>

    <div class="header-right">
        <a href="{% url 'hub' %}">
            <img src="{% static 'img/hub.png' %}" alt="Hub">
        </a>
        {% if user.is_authenticated %}
        <span class="username">Eingeloggt als, <span class="username-highlight">{{ user.username }}</span></span>
        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}" class="login-link">Login</a>
        {% endif %}
    </div>
</header>
