{% extends "base.html" %}
{% block header %}
  {% include 'includes/header.html' with header_name='Artikel'%}
{% endblock %}
{% block title %}Item{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
</head>
<body>
<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Name</th>
            <th>Kategorie</th>
            <th>Artikelnummer</th>
            <th>Einheit</th>
            <th>Beschreibung</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.sku }}</td>
            <td>{{ obj.unit }}</td>
            <td>{{ obj.quantity }}</td>
            <td>{{ obj.size }}</td>
            <td>{{ obj.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
{% endblock %}