{% extends "pfadibase.html" %}
{% load static %}
{% block content %}
<div class="header">


    <a href="https://www.facebook.com/pfadibrig" target="_blank"><img src="{% static 'img/facebook.png' %}"
                                                                      alt="Facebook"></a>
    <a href="https://www.instagram.com/pfadibrig/" target="_blank"><img src="{% static 'img/instagram.svg.png' %}"
                                                                        alt="Instagram"></a>
    <a href="{% url 'profiles' %}">Profile</a>
    <h1>Pfadfinder
        St. Sebastian Brig</h1>
</div>
<div class="content">
    <div class="start">


        <p>Seit 1932 begrüsst die Pfadfinderabteilung St. Sebastian Brig Kinder
            und Jugendliche zwischen 7 und 16 Jahren. Für die verschiedenen
            Altersstufen (Wölfe, Pfadi, Rover) bieten wir sportliche Aktivitäten,
            gemeinschaftliches Engagement und intensive Erlebnisse in der Natur.
            Ebenso kannst Du bei uns mehr über das Kartenlesen, Seile, Knöpfe
            oder Zeltbau erlernen. Wusstest Du etwa, dass man in einem "Berliner"
            auch übernachten kann? Oder hast Du schon mal eine Chillout-Lounge inmitten
            der Natur konstruiert? Und wie steht's mit einer Seilbrücke?
        </p>
        <br>
        <p>All dies erlebst Du garantiert im Sommerlager – der Höhepunkt unseres Vereinsjahres.</p>
        <br>
        <p>Schon ab 14 Jahren kannst Du von den zahlreichen Kursen und
            Ausbildungsmöglichkeiten der Pfadibewegung Schweiz profitieren.
            Hier knüpfst Du neue Kontakte, erfährst, wie Du ein Team leiten kannst,
            oder wie Du ein Gruppenlager organisierst.
        </p>
        <br>
        <p>Wir sehen uns am nächsten Anlass! Ischers Beschta / Allzeit Bereit!</p>
    </div>
    <h2>Pfadibewegig</h2>

    <p>Die Pfadibewegung ist die grösste Jugendorganisation der Welt und steht auch heute
        für Freundschaft, Engagement, Zusammenhalt und tolle Abenteuer.
        Weitere Informationen zu den Zielen, der Pädagogik sowie zur
        Methodik der Pfadibewegung Schweiz findest Du <a
                href="https://pfadi.swiss/de/das-ist-pfadi/portrait-ziele/" target="_blank">hier</a>.
    </p>
    <br>
    <p>Viele spannende Geschichten zur Pfadi Brig findest du
        hier in der
        <a href="https://www.pfadibrig.ch/_files/ugd/ad573b_0907837b05c144ca820ba3bf391bcb16.pdf" target="_blank">90-Jahre-Broschüre</a>.
    </p>
    <a href="{% url 'hub' %}"><img src="{% static 'img/IMG_4568_JPG.jpg' %}" alt="Red"></a>

    <h2>Witeri Infos</h2>
    <div class="info">

        <div class="info-box">
            <h3>Verbilüege?</h3>
            <p>Sehr gerne kannst Du bei uns vorbeischauen! Nimm doch Kontakt mit uns auf. Die Infos hierzu findest Du am
                Ende der Seite.</p>

        </div>

        <div class="info-box">
            <h3>Wenn und wo?</h3>
            <p>Klick auf den Kompass und erhalte das aktuelle Vereinsprogramm.</p>
            <a href="https://www.pfadibrig.ch/_files/ugd/ad573b_8590ff1045384954a1a963d8f848bfa7.pdf" target="_blank"><i
                    class="bi bi-compass"></i></a>
        </div>

        <div class="info-box">
            <h3>Saflischhitta!</h3>
            <p>Auf 2'088 m ü. M. unterhält eine an den Verein angeschlossene Stiftung die Saflischhütte, welche 50
                Personen
                auf dem Rosswald eine Unterkunft bietet. Klicken Sie auf das Symbol um mehr zu erfahren.</p>
            <a href="https://www.saflisch-hütte.ch/" target="_blank"><i class="bi bi-house"></i></a>
        </div>

    </div>


    <h2>Impressione</h2>
    <div class="galary">
        <p>Images</p>
    </div>
    <div class="contact">
        <h2>Kontakt</h2>

        <div class="contact-info">
            <p>Pfadfinderabteilung St. Sebastian<br>3900 Brig</p>
            <p>pfadibrig.ch<br>
                <a href="mailto:info@pfadibrig.ch">info@pfadibrig.ch</a><br>
                Tel: +41 77 505 07 57
            </p>
        </div>

        <form action="submit">
            <label for="name">First name:</label>
            <input type="text" id="name" name="name">

            <label for="email">Last name:</label>
            <input type="text" id="email" name="email">

            <label for="betreff">Betreff</label>
            <input type="text" id="betreff" name="betreff">

            <label for="note">Notiz</label>
            <input type="text" id="note" name="note">

            <input type="submit" value="Submit">
        </form>
    </div>


    <h2>definitive Anmeldung</h2>
    <p>
        Möchtest du dich definitiv anmelden?
        Dann schreibe oben eine Nachricht, dass du dies
        möchtest und gebe
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfqodZc9KcBhPJ96flOiIuTKf-qEBVOM8TqX81cNYkuAHt4_g/viewform?pli=1"
           target="_blank">hier</a>
        alle Angaben an. Wir fügen
        dich anschliessend unserem Chat zu.
    </p>
</div>
<div class="partner">
    <h2>Partner</h2>
    <p>Die Pfadi Brig wird von folgenden Partnern regelmässig unterstützt. Vielen Dank!</p>

    <div class="partner-logos">
        <a href="https://www.brig-glis.ch/freizeit-tourismus/sport/sportfoerderungen/" target="_blank">
            <img src="{% static 'img/sport.avif' %}" alt="Sport Kommission Brig-Glis">
        </a>
        <img src="{% static 'img/red.avif' %}" alt="Red">
        <a href="https://www.schwestermann-kuechen.ch/" target="_blank">
            <img src="{% static 'img/schwestermann.avif' %}" alt="Schwestermann logo">
        </a>
    </div>
</div>


<div class="footer">
    <p>© 2025 by Pfadi Brig.</p>
    <a href="https://www.facebook.com/pfadibrig" target="_blank">Facebook</a>
    <a href="https://www.instagram.com/pfadibrig/" target="_blank">Instagram</a>
</div>
{% endblock %}