{% extends "base.html" %}
{% load static %}
{% block header %}
{% include 'includes/header.html' with header_name='Hub' %}
{% endblock %}

{% block title %}Hub{% endblock %}

{% block content %}

<div class="hub">
    <div class="account">
        <p>Here should be something like account icon</p>
    </div>

    <div class="lager">
        <a href="{% url 'lager_list' %}">Lager</a>
    </div>
    <div class="pfadi_lager">
        <p>Hier kommt dan das lager</p>
    </div>
    <div class="notion">
        <a href="https://www.notion.so/24c7bc50ffa380f6b49ef28deb653bca?v=24c7bc50ffa38145b34e000cb8bb031b" target="_blank">
            <img src="{% static 'img/Notion-logo.svg.png' %}" alt="Notion logo" style="width: 100px; height: auto">
        </a>
    </div>
    <div class="me_data">
        <a href="https://db.scout.ch">MiData</a>
    </div>
    <div class="list_kids">

    </div>
</div>

{% endblock %}
